{% set params = object is defined ? { 'id' : object.id } : {} %}
<a href="{{ path(action.routeName, params) }}" class="button action-{{ action }}{{ action.buttonIcon ? ' ui-icon-'~action.buttonIcon : '' }}{{ action.hasDialog ? ' dialog' : ''}}{{ action.buttonStyle is defined ? ' '~action.buttonStyle  : '' }}">{{ (action.text|default(list.modelName~'.list.action.'~action))|trans({}, action.trans_domain|default(list.transDomain)) }}</a>
