{% for object in list.pager.results %}
    <tr>
        {% if list.hasBatchActions %}
            <td>
                {% block table_data_batch %}
                    <input class="batch-select" type="checkbox" name="ids[]" value="{{ object.id }}" />
                {% endblock %}
            </td>
        {% endif %}
        {% for col in list.columns %}
            <td {{ col.class|raw }}>
                {% block table_data_field %}
                    {% if col.type == 'boolean' %}
                        <input class="button icon-only {{ list.booleanIcon(col.name, object) }}" type="submit" name="action[_boolean][{{ list.colValue(col.name, object) ? '0' : '1' }}][{{ col.name }}][{{ object.id }}]" value="{{ ('list.action.boolean.'~list.booleanText(col.name, object))|trans({}, 'LyraAdminBundle') }}" />
                    {% elseif col.type == 'template' %}
                        {% include col.template %}
                    {% else %}
                        {{ list.colValue(col.name, object) }}
                    {% endif %}
                {% endblock %}
            </td>
        {% endfor %}
        {# Object actions #}
        <td>
            {% block table_object_actions %}
                {% for action in list.objectActions %}
                    {% set attrs = list.actions[action] %}
                    {% include attrs.template|default('LyraAdminBundle:List:action.html.twig') %}
                {% endfor %}
            {% endblock %}
        </td>
    </tr>
{% else %}
    <tr>
        <td class="no-records" colspan="{{ list.columns|length + (list.hasBatchActions ? 1 : 0) + 1 }}">{{ 'list.message.no_records'|trans({}, 'LyraAdminBundle') }}</td>
    </tr>
{% endfor %}
