{% extends "LyraAdminBundle::layout.html.twig" %}
{% set list = renderer %}
{% block content %}
<div id="ly-list-wrapper">
    {% block list_title %}
        <h1>{{ list.title|trans({}, list.transDomain) }}</h1>
    {% endblock %}
    {% include 'LyraAdminBundle:List:list_actions.html.twig' %}
        <form action="{{ path(list.routePrefix~'_object', list.routeParams) }}" method="post">
        {% include 'LyraAdminBundle:List:flash_messages.html.twig' %}
        <table class="ly-list {{ list.name }}">
            <thead>
                {% block list_header %}{% include 'LyraAdminBundle:List:header.html.twig' %}{% endblock %}
            </thead>
            <tfoot>
                {% block list_footer %}{% include 'LyraAdminBundle:List:footer.html.twig' %}{% endblock %}
            </tfoot>
            <tbody>
                {% block list_body %}{% include 'LyraAdminBundle:List:body.html.twig' %}{% endblock %}
            </tbody>
        </table>
        {% include 'LyraAdminBundle:List:batch_actions.html.twig' %}
        <input type="hidden" name="_token" value="{{ csrf }}" />
    </form>
    {% block filter %}
        {% include 'LyraAdminBundle:List:filter_form.html.twig' %}
    {% endblock %}
</div>
{% include 'LyraAdminBundle:List:batch_messages.html.twig' %}
{% endblock content %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/lyraadmin/css/list.css') }}" />
{% if list.hasBatchActions %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/lyraadmin/css/lyra_select.css') }}" />
{% endif %}
{% if filter.hasWidget('datetime_picker') %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/lyraadmin/css/jquery-ui-timepicker-addon.css') }}" />
{% endif %}
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('bundles/lyraadmin/js/list.js') }}"></script>
{% if list.hasBatchActions %}
    <script type="text/javascript" src="{{ asset('bundles/lyraadmin/js/lyra_select.js') }}"></script>
{% endif %}
{% include 'LyraAdminBundle:Admin:datepicker_js.html.twig' with { 'renderer' : filter } %}
{% endblock %}
