{% from 'LyraAdminBundle:Admin:macros.html.twig' import page_link %}
{% extends "LyraAdminBundle::layout.html.twig" %}
{% set list = renderer %}
{% block content %}
<div id="ly-list-wrapper">
    {% block list_title %}
        <h1>{{ list.title|trans({}, list.transDomain) }}</h1>
    {% endblock %}
    {% block search_actions %}
    {% if filter.hasFields %}
    <div class="search-actions">
        <a href="#filter" class="button">{{ 'list.action.search'|trans({}, 'LyraAdminBundle') }}</a>
        <a href="{{ path(filter.routePrefix~'_filter', {'reset' : 'reset'}) }}" class="button">{{ 'filter.button.reset'|trans({}, 'LyraAdminBundle') }}</a>
    </div>
    {% endif %}
    {% endblock %}
    {% block list_actions %}
        <div class="list-actions">
        {% for action in list.listActions %}
            {% set act = list.actions[action] %}
            <a href="{{ path(list.routePrefix~'_'~action) }}" class="button action-{{ action }}{{ act.icon ? ' ui-icon-'~act.icon : '' }}">{{ (act.text|default(list.name~'.list.action.'~action))|trans({}, act.trans_domain|default(list.transDomain)) }}</a>
        {% endfor %}
        </div>
    {% endblock %}
    <form action="{{ path(list.routePrefix~'_object', list.routeParams) }}" method="post">
    {% block flash_messages %}
        <div class="flash-messages">
            {% for key, message in app.session.getFlashes() %}
            <div class="{{ key }}">
                {{ message|trans({}, list.transDomain) }}
            </div>
            {% endfor %}
        </div>
    {% endblock %}
    <table class="ly-list {{ list.name }}">
        <thead>
            {% block table_head %}
                <tr>
                    {% if list.hasBatchActions %}
                        <th class="batch-select-all"><input type="checkbox" /></th>
                    {% endif %}
                    {% for col in list.columns %}
                        <th {{ col.th_class|raw }}>
                            {% block table_head_sort %}
                                {% if col.sortable %}
                                    <a href="{{ path(list.routePrefix~'_index', list.routeParams|merge({'page': 1, 'field': col.name, 'order': col.sorted ? (list.sort.order == 'asc' ? 'desc' : 'asc') : 'asc' })) }}">
                                    {{ col.label|trans({}, list.transDomain) }}
                                    </a>
                                {% else %}
                                    {{ col.label|trans({}, list.transDomain) }}
                                {% endif %}
                            {% endblock %}
                        </th>
                    {% endfor %}
                    {# Object actions header #}
                    <th>
                        {{ 'list.actions'|trans({}, 'LyraAdminBundle') }}
                    </th>
                </tr>
            {% endblock %}
        </thead>
        {% block table_foot %}
        <tfoot>
            {% block table_pagination %}
                <tr>
                    <td colspan="{{ list.columns|length + (list.hasBatchActions ? 1 : 0) + 1 }}">
                    {% if list.nbPages > 1 %}
                        <span class="pagination">      
                            <span class="info">{{ 'pagination.info'|trans({'%page%' : list.page, '%count%' : list.nbPages}, 'LyraAdminBundle') }}</span>
                            {{ page_link(list, 'first', 1) }}
                            {{ page_link(list, 'prev', list.prevPage) }}
                            {% for p in list.pageLinks %}
                                {% if p == list.page %}
                                    {{ p }}
                                {% else %}
                                    {{ page_link(list, 'page', p) }}
                                {% endif %}
                            {% endfor %}
                            {{ page_link(list, 'next', list.nextPage ) }}
                            {{ page_link(list, 'last', list.nbPages) }}
                        </span>
                    {% endif %}
                    </td>
                </tr>
            {% endblock %}
        </tfoot>
        {% endblock %}
        <tbody>
            {% block table_body %}
                {% for object in list.results %}
                    <tr>
                        {% if list.hasBatchActions %}
                            <td>
                                {% block table_data_batch %}
                                    <input class="batch-select" type="checkbox" name="ids[]" value="{{ object.id }}" />
                                {% endblock %}
                            </td>
                        {% endif %}

                        {% for col in list.columns %}
                            <td {{ col.class|raw }}>
                                {% block table_data_field %}
                                    {% if col.type == 'boolean' %}
                                        <input class="button icon-only {{ list.booleanIcon(col.name, object) }}" type="submit" name="action[{{ list.booleanAction(col.name, object) }}][{{ object.id }}]" value="{{ ('list.action.boolean.'~list.booleanText(col.name, object))|trans({}, 'LyraAdminBundle') }}" />
                                    {% elseif col.type == 'date' or col.type == 'datetime' %}
                                        {{ object[col.name]|date(list.colFormat(col.name)|default("d/M/Y")) }}
                                    {% else %}
                                        {{ list.colValue(col.name, object) }}
                                    {% endif %}
                                {% endblock %}
                            </td>
                        {% endfor %}
                        {# Object actions #}
                        <td>
                            {% block table_object_actions %}
                                {% for action in list.objectActions %}
                                    {% set act = list.actions[action] %}
                                    <a href="{{ path(list.routePrefix~'_'~action, { 'id' : object.id }) }}" class="button icon-only action-{{ action }}{{ act.icon ? ' ui-icon-'~act.icon : '' }}">{{ (act.text|default(list.name~'.list.action.'~action))|trans({}, act.trans_domain|default(list.transDomain)) }}</a>
                                {% endfor %}
                            {% endblock %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="no-records" colspan="{{ list.columns|length + (list.hasBatchActions ? 1 : 0) + 1 }}">{{ 'list.message.no_records'|trans({}, 'LyraAdminBundle') }}</td>
                    </tr>
                {% endfor %}
            {% endblock %}
        </tbody>
    </table>
    {% block batch_actions %}
        {% if list.hasBatchActions %}
            <div class="batch-actions">
                <select name="batch_action">
                    <option value="">{{ 'batch.action.empty'|trans({}, 'LyraAdminBundle') }}</option>
                    {% for action in list.batchActions %}
                        {% set act = list.actions[action] %}
                        <option value="{{ action }}">{{ (act.text|default(list.name~'.batch.action.'~action))|trans({}, act.trans_domain|default(list.transDomain)) }}</option>
                    {% endfor %}
                </select>
                <input type="submit" name="action[batch]" value="{{ 'batch.form.submit'|trans({}, 'LyraAdminBundle') }}" />
            </div>
        {% endif %}
    {% endblock batch_actions %}
    </form>
    {% block filter %}
        {% include 'LyraAdminBundle:Admin:filter_form.html.twig' %}
    {% endblock %}
</div>
{% block batch_message %}
    <script type="text/javascript">
        var batchMessages = { 
            'noSelection' : '{{ 'batch.message.no_selection'|trans({}, 'LyraAdminBundle') }}',
            'noAction' : '{{ 'batch.message.no_action'|trans({}, 'LyraAdminBundle') }}'
        }
    </script>
{% endblock %}
{% endblock content %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/lyraadmin/css/list.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/lyraadmin/css/lyra_select.css') }}" />
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('bundles/lyraadmin/js/list.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/lyraadmin/js/lyra_select.js') }}"></script>
{% endblock %}
