{% macro page_link(pager, type, page, route, params) %}
{% set disabled = type in ['first','prev'] and pager.page == 1 or type in ['last','next'] and pager.page == pager.nbPages %}
{% set icon = {'first' : 'ui-icon-arrowthickstop-1-w', 'prev' : 'ui-icon-arrowthick-1-w', 'next' : 'ui-icon-arrowthick-1-e', 'last' : 'ui-icon-arrowthickstop-1-e', 'page' : ''} %}
<a href="{{ path(route, params|merge({ 'page': page })) }}" class="button icon-only {{ icon[type] }}{{ disabled ? ' disabled' : ''}}">
    {% if type == 'page' %}
        {{ page }} 
    {% else %}
        {{ ('pagination.'~type)|trans({}, 'LyraAdminBundle') }}
    {% endif %}
</a>
{% endmacro %}
