{% extends app.request.isXmlHttpRequest ? 'LyraAdminBundle:Dialog:ajax.html.twig' : 'LyraAdminBundle:Dialog:base.html.twig' %}
{% block form %}
    <p>{{ action.dialogMessage|transchoice(ids|length,{},'LyraAdminBundle') }}</p>
    <form id="ly-form" action="{{ path(form_action.routeName) }}" method="post">
    <input type="hidden" name="batch_action" value="{{ action.name }}" />
    <input type="hidden" name="batch_confirm" value="1" />
    {% for id in ids %}
        <input type="hidden" name="ids[]" value="{{ id }}" />
    {% endfor %}
    <input type="hidden" name="_token" value="{{ csrf }}" />
    <hr class="clear" />
    <input type="submit" name ="action[batch]" value="{{ 'dialog.submit'|trans({}, 'LyraAdminBundle') }}" />
    <a href="{{ path(cancel.routeName) }}">{{ 'dialog.cancel'|trans({}, 'LyraAdminBundle') }}</a>
    </form>
{% endblock %}
