{% extends app.request.isXmlHttpRequest ? 'LyraAdminBundle:Dialog:ajax.html.twig' : 'LyraAdminBundle:Dialog:base.html.twig' %}
{% block form %}
    <p>{{ action.dialogMessage|transchoice(1, {'%object%': object}, 'LyraAdminBundle') }}</p>
    <form id="ly-form" action="{{ path(action.routeName, { 'id' : object.id }) }}" method="post">
    <input type="hidden" name="_token" value="{{ csrf }}" />
    <hr class="clear" />
    <input type="submit" class="dialog-submit" name="submit" value="{{ 'dialog.submit'|trans({}, 'LyraAdminBundle') }}" />
    <a href="{{ path(cancel.routeName) }}" class="dialog-cancel">{{ 'dialog.cancel'|trans({}, 'LyraAdminBundle') }}</a>
    </form>
{% endblock %}
