{% extends app.request.isXmlHttpRequest ? 'LyraAdminBundle:Dialog:ajax.html.twig' : 'LyraAdminBundle:Dialog:base.html.twig' %}
{% block dialog_title %}
<h1>{{ action.dialogTitle|trans({}, action.transDomain) }}</h1>
{% endblock %}
{% block form %}
    <p>{{ action.dialogMessage|trans({}, action.transDomain) }}</p>
    <form id="ly-form" action="{{ path(action.routeName) }}" method="post">
    {% if csrf is defined %}
        <input type="hidden" name="_token" value="{{ csrf }}" />
    {% endif %}
    <hr class="clear" />
    <input type="submit" class="dialog-submit" name="submit" value="{{ 'dialog.submit'|trans({}, 'LyraAdminBundle') }}" />
    <a href="{{ path(cancel.routeName) }}" class="dialog-cancel">{{ 'dialog.cancel'|trans({}, 'LyraAdminBundle') }}</a>
    </form>
{% endblock %}
