{% extends 'form_div_layout.html.twig' %}

{% block date_picker_widget %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' date-picker'}) %}
    {{ block('field_widget') }}
{% endblock %}
{% block datetime_picker_widget %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' datetime-picker'}) %}
    {{ block('field_widget') }}
{% endblock %}
{% block daterange_widget %}
{% spaceless %}
    <div class="daterange-container">
        <div class="daterange-from">
            {{ form_errors(form.from) }}
            {{ form_label(form.from) }}
            {{ form_widget(form.from) }}
        </div>
        <div class="daterange-to">
            {{ form_errors(form.to) }}
            {{ form_label(form.to) }}
            {{ form_widget(form.to) }}
        </div>
    </div>
{% endspaceless %}
{% endblock %}
